/* reset  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lato", sans-serif;
}

/* general  */

.row [class^="col"] {
  float: left;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  /* color: black; */
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

img {
  max-width: 100%;
}

/* header  */

.container-fluid {
  height: 100%;
  width: 100%;

  padding: 15px 5px;
  color: black;
}

.main-menu li {
  display: inline-block;
  vertical-align: middle;
  padding: 7px;
  margin-left: 25px;
  font-size: 14px;
  text-align: center;
}

.row-right {
  float: right;
}

.main-but {
  margin-left: 15px;
  margin-right: 10px;
  background-color: blue;
  padding: 5px 10px;
  color: white;
  font-size: 14px;
}

/* col  */
.col-4 {
  width: 33.33%;
}

.col-8 {
  width: 66.66%;
}

.col-12 {
  width: 100%;
}

.col-50 {
  width: 50%;
}

/* jumbo  */

#jumbo {
  padding: 70px;
  max-width: 100%;
  min-height: 570px;
  background-color: #508def;
}

#jumbo .row:first-child {
  padding-bottom: 50px;
}

.title {
  font-size: 70px;
  font-weight: 700;
}

.description-title {
  margin-bottom: 30px;
  font-weight: 550;
}

.cta-jumbo {
  margin-bottom: 10px;
}

.button {
  background-color: #0061ff;
  color: whitesmoke;
  padding: 10px 40px;
  font-size: 12px;
  text-align: center;
}

.icon-jumbo {
  padding: 25px 0 20px;
  font-size: 20px;
  color: black;
}

.img-wrapper {
  float: right;
  margin-top: -280px;
  padding-left: 20px;
}

/* debug  */
.sect-debug {
  padding-bottom: 15px;
}

/* plain section  */

.container {
  max-width: 900px;
  margin: 0 auto;
}

.col-title {
  width: 100%;
}

.cont-title {
  padding: 35px 0;
  font-size: 30px;
}
.plan {
  border: 1px solid rgb(160, 154, 154);
}
.full-plan {
  min-height: 800px;
}

.fatt {
  font-size: 12px;
  font-weight: bolder;
  padding: 3px;
}

.middle-plan {
  padding-left: 20px;
}

.plan-radio {
  padding-bottom: 15px;
}

.plan-radio input {
  vertical-align: middle;
}

.plan-radio .month {
  margin-right: 10px;
}

.plan-header {
  border-bottom: 1px solid rgb(160, 154, 154);
  text-align: center;
  padding: 10px;
}
.plan-body {
  padding-left: 15px;
  padding-top: 15px;
  vertical-align: middle;
}

.plan-footer {
  padding: 15px 15px;
}

.price {
  font-weight: bolder;
  padding: 10px 0;
}

.footer-price {
  font-size: 12px;
  color: rgb(160, 154, 154);
}

.plan-features {
  padding: 20px 0;
  font-size: 14px;
}
.plan-features,
li {
  margin-bottom: 20px;
}

.plan-features li:last-child {
  margin-bottom: 0px;
}

.link-features-footer {
  padding-top: 20px;
  font-size: 14px;
  padding-bottom: 15px;
}

.bt {
  width: 100%;
}

.link-features-footer .link-footer {
  color: blue;
  text-decoration: underline;
}

.plan-underscore::after {
  content: "";
  display: block;
  background-color: rgb(152, 152, 152);
  width: 35px;
  height: 1px;
}
.plan-underscore {
  padding: 15px 15px;
}

.plan-footer .footer-title-plan {
  padding-bottom: 22px;
}

.second-list {
  font-size: 14px;
}

.second-list i {
  color: blue;
}

.span-footer {
  /* text-align: center; */
  vertical-align: middle;
}
.foot-footer {
  border: 1px solid gold;
}

.second-title-plan {
  font-size: 14px;
  font-weight: 700;
}

.info-note {
  font-size: 12px;
}
.rt {
  float: right;
  padding-right: 15px;
}

.but-shop {
  padding: 10px 20px;
}

/* inserimento main-centrale  */

.middle-main {
  padding-top: 100px;
}

.cont-img {
  display: inline-block;
}

.wrap-img {
  float: left;
}

.text-img {
  padding: 30px;
}

.title-img {
  font-size: 24px;
}

.wrap-text {
  padding-top: 20px;
}

.but-img {
  border: 1px solid gray;
  color: whitesmoke;
  padding: 10px 14px;
  font-size: 12px;
  text-align: center;
  color: black;
}

.card-text {
  padding-top: 20px;
  padding-bottom: 40px;
}
